In [9]:
import pandas as pd
import numpy as np

In [26]:
pro='E:\제5회 Big Data Competition-Digital Trend Analyzer\제5회 Big Data Competition-분석용데이터-01.Pruduct.csv'
sea1='E:\제5회 Big Data Competition-Digital Trend Analyzer\제5회 Big Data Competition-분석용데이터-02.Search1.csv'
sea2='E:\제5회 Big Data Competition-Digital Trend Analyzer\제5회 Big Data Competition-분석용데이터-03.Search2.csv'
cus='E:\제5회 Big Data Competition-Digital Trend Analyzer\제5회 Big Data Competition-분석용데이터-04.Custom.csv'
sess='E:\제5회 Big Data Competition-Digital Trend Analyzer\제5회 Big Data Competition-분석용데이터-05.Session.csv'
mas='E:\제5회 Big Data Competition-Digital Trend Analyzer\제5회 Big Data Competition-분석용데이터-06.Master.csv'

In [48]:
product = pd.read_csv(pro, engine='python',sep='\t')

In [31]:
search1 = pd.read_csv(sea1, engine='python',sep=',')

In [35]:
search2 = pd.read_csv(sea2, engine='python',sep=',')

In [37]:
custom = pd.read_csv(cus, engine='python',sep=',')

In [43]:
session = pd.read_csv(sess, engine='python',sep=',')

In [40]:
master = pd.read_csv(mas, engine='python',sep=',')

In [47]:
product.head(10)

,CLNT_ID,SESS_ID,HITS_SEQ,PD_C,PD_ADD_NM,PD_BRA_NM,PD_BUY_AM,PD_BUY_CT
0,25,7605037,12,642112,색상:워터멜론,[바비브라운],"39,000",1
1,25,10189797,13,570603,색상:BLK0_(BLK0)BLACK|사이즈:120 / 2개,데상트,"39,000",2
2,33,6158159,85,179538,na,[아베다],"39,000",1
3,56,7935714,12,554336,색상:블랙|사이즈:160cm(12~13세) / 1개,아디다스 키즈,"39,000",1
4,56,6406509,78,190306,5개,데코르테,"39,000",5
5,59,4050743,66,149995,사이즈:옵션04.AN868_04 / 1개,앵글로매니아,"39,000",1
6,68,6881895,10,568751,신발색상:블랙(BK)/신발사이즈:280,[디스커버리],"39,000",1
7,71,6537318,21,570603,색상:BLK0_(BLK0)BLACK|사이즈:115 / 1개,데상트,"39,000",1
8,121,3942102,2,755148,모델명:올나이터 / 1개,어반디케이,"39,000",1
9,135,5718021,19,608620,사이즈:7 / 1개,나이키,"39,000",1

In [32]:
search1.head(10)

   CLNT_ID  SESS_ID      KWD_NM  SEARCH_CNT
0  5607714  7112876    빌리프 아이크림           6
1  5607714  4090791   프리메라 마스크팩           3
2  5607714  4090791       여성청결제           1
3  5612428  1876482        명품가방           1
4  5612428   658123   콩순이 아이스크림           1
5  5612428  1876482  블루독 티셔츠 남아           1
6  5612471  8539312       쉬폰원피스           1
7  5612471  8539312  여성 쉬폰 블라우스           1
8  5613055  8510027      임산부 팬티           2
9  5613055  8510027     임산부 원피스           1

In [36]:
search2.head(10)

    SESS_DT     KWD_NM SEARCH_CNT
0  20180407      닥스원피스          8
1  20180407  닥터지 브라이트닝          1
2  20180407     달팡 인트랄          2
3  20180407        대상트          1
4  20180407       더블유닷          6
5  20180407  더블하트 모유실감          1
6  20180407   데님 롱 스커트          6
7  20180407     데상트 크론         12
8  20180407    데상트골프여성          6
9  20180407    데상트여성골프          1

In [38]:
custom.head(10)

   CLNT_ID CLNT_GENDER  CLNT_AGE
0  4830726           F        30
1  4830874           F        40
2  4830975           F        30
3  4831275           F        30
4  4825325           F        30
5  4825382           F        40
6  4825797           F        40
7  4825908           F        30
8  4825961           F        30
9  4840532           M        40

In [44]:
session.head(10)

,"癤�""CLNT_ID""",SESS_ID,SESS_SEQ,SESS_DT,TOT_PAG_VIEW_CT,TOT_SESS_HR_V,DVC_CTG_NM,ZON_NM,CITY_NM
0,5873599,8641867,9,20180509,82.0,"1,890",mobile,Daejeon,Daejeon
1,5873599,6616320,21,20180611,105.0,"1,604",mobile,Busan,Busan
2,5873599,5886172,40,20180624,41.0,632,mobile,Daejeon,Daejeon
3,5873884,1050889,15,20180913,160.0,"1,035",mobile,Gyeonggi-do,Anyang
4,5874461,10298270,5,20180412,13.0,298,mobile,Seoul,Seoul
5,5874701,608577,65,20180920,41.0,444,mobile,Seoul,Seoul
6,5874829,1666766,87,20180903,36.0,340,mobile,Seoul,Seoul
7,5874829,1670494,86,20180903,103.0,976,mobile,Seoul,Seoul
8,5874829,1694242,85,20180902,154.0,"3,099",mobile,Seoul,Seoul
9,5874829,1559438,92,20180904,24.0,317,mobile,Seoul,Seoul

In [46]:
master.head(100)

,PD_C,PD_NM,CLAC1_NM,CLAC2_NM,CLAC3_NM
0,64382,언더아머 남성 UA HG 아머 모크 LS 1289559-001 - 블랙 / MD[95],스포츠패션,남성일반스포츠의류,남성스포츠티셔츠
1,62282,여자 플라워덧신 2족선물세트 17403-2set,속옷/양말/홈웨어,여성양말류,여성일반양말
2,61729,88A2933253배트맨스웨트티 - 블랙 / 130,유아동의류,유아의류상의,영유아티셔츠/탑
3,61537,"닥터마틴 아드리안 블랙, 체리레드 - 02_체리레드 / 250mm(6)",패션잡화,남성화,남성부츠
4,58820,여성 그레이 스트라이프 퍼프 소매 블라우스 (128865YQ33) - 회색(앤틱실버...,남성의류,남성의류상의,남성남방셔츠
5,58280,선염스트라이프레이스패치원피스 JROP521D - 블루 / 85,여성의류,여성의류전신,여성원피스
6,58183,[17S/S] 울 자카드 져지 자켓 9317111001056 - 네이비 / 100,남성의류,남성의류아우터,남성캐주얼재킷
7,58098,V넥 고방 체크 롱 원피스 (K65-54615) - 스카이블루(SB) / F,여성의류,여성의류전신,여성원피스
8,58057,배색포인트 랩스타일 원피스 (GIHOP921F) - 화이트 / F,여성의류,여성의류전신,여성원피스
9,56306,선염 체크나염 여성잠옷(VPT3570WP) - 핑크 / 95,속옷/양말/홈웨어,홈웨어,여성잠옷
10,55076,정장형스판바지C72P158 - 베이지(BE) / 55(90),여성의류,여성의류하의,여성바지
11,318122,"H1280YRJ,K,N토트백&크로스백 - 그레이",패션잡화,여성가방,여성토트백
12,318011,가볍고 편안한 남성 워킹화 페이스투스 1117SW310 - 블랙 / 255,스포츠패션,여성스포츠화,여성런닝/트레이닝화
13,317956,체크패턴 프릴포인트 스커트GHB6SK740F - 078(민트) / 26(55),여성의류,여성의류하의,여성스커트
14,127096,(KM)굿찌쿨통팬츠/빅사이즈/통바지/와이드팬츠 - 베이지 / 2번,여성의류,여성의류하의,여성청바지
15,125372,8B-TS018 오곡벌룬소매티 - 빨강(Red) / 88,여성의류,여성의류상의,여성티셔츠/탑
16,124084,"여성백팩01H1280UBJ,UBN1FR - 그레이",패션잡화,여성가방,여성백팩
17,123395,네이비 하와이 5부 여성 파자마 EPF8678 - 90,속옷/양말/홈웨어,홈웨어,여성잠옷
18,123233,빅사이즈 헬로시스터 고호[마카롱머메이드 스커트] - ivory / XL,여성의류,여성의류하의,여성스커트
19,122845,(2XL-5XL)바시트 원피스-6989 - 코코아 / 4XL,여성의류,여성의류전신,여성원피스
20,210546,컴포트 레터링자수 에코백 - 블랙,패션잡화,패션액세서리,기타패션잡화
21,209216,코튼 혼방 폴로 피케 반팔 티셔츠( TBMS1KTS23A0-B30) - B30 / ...,유아동의류,남아의류상의,남아티셔츠/탑
22,216029,[보리보리/젤리스푼]l젤리스푼l베이직썸머7부가디건 - L블루/105,유아동의류,여아의류상의,여아가디건
23,214635,280D 사틴햄 원단 기능성올인원WBT9330ABK - 블랙(DG) / 80B,속옷/양말/홈웨어,여성속옷,올인원
24,213856,한미 엔쵸비 오메가3 앤 비타민D 180정,건강식품,영양제,오메가3/기타추출오일
25,213204,"남여 솔리드캐주얼 5부바지 5217PH213,214,253,255 - 79 / 화이...",스포츠패션,남성등산/아웃도어의류,남성등산바지
26,213185,스킬렛 16cm-매트블랙,식기/조리기구,조리기구,냄비
27,209786,쿠키커터클래식 6P,주방잡화,조리도구,제빵용품
28,206498,아일렛 A라인 롱 블라우스 - 베이지_BE / F(55~77),여성의류,여성의류상의,여성남방셔츠
29,202585,[스타일온미]쿨썸머 베브리지 나시티 - 아이보리 / S,여성의류,여성의류상의,여성티셔츠/탑
...,...,...,...,...,...
70,258646,[하프클럽/마코](여성)앞뒤 배색 라운드 티셔츠 4MFW2TR05 - 68|네이비|/95,스포츠패션,여성골프의류,여성골프티셔츠/탑
71,342186,에이든샌들(07K376582) - 150mm,스포츠패션,유아동스포츠화,유아동스포츠샌들/슬리퍼
72,340646,앞판셔링장식심플티셔츠 JSTS321X - 90 / 화이트,여성의류,여성의류상의,여성티셔츠/탑
73,339896,여성 비치 3pcs 후드썬탑 상하세트_RN-LS18919 - CR / 85,시즌스포츠,수영/물놀이,여성비치웨어
74,337631,베이직 리본장식바람막이JP(P1825J553_O) - 핑크 / 100,유아동의류,여아의류아우터,여아점퍼
75,337277,큐니걸스 함께하고파 나시블라우스 - light teal / free,여성의류,여성의류상의,여성남방셔츠
76,333712,아디다스 테렉스 CC 보이저 슬립온 (CM7546) - CM7546_블랙 / 275,스포츠패션,남성스포츠화,남성런닝/트레이닝화
77,332807,백조 맨투맨티[유아/어린이] - 2 / 아이보리,유아동의류,여아의류상의,여아티셔츠/탑
78,331949,신비아파트2 고스트 컬렉션 배틀하우스 - 신비아파트배틀하우스(알카라인건전지증정),완구,남아완구,조립/프라모델
79,331633,여름!! 우아걸 캉캉레스 스커트 -PK /18MPP013 - 핑크/7호,유아동의류,여아의류하의,여아스커트
80,440655,더블버튼 슬림 원피스(NGOPHF9400/블랙) - 블랙 / 66 ◈70873937◈,여성의류,여성의류전신,여성원피스
81,440201,헤지스레이디스 HSDR7D904N2 체크 울혼방 원피스 - 네이비 / 090 ◈77...,여성의류,여성의류전신,여성원피스
82,439396,여성 [ORIGINALS] 사선 절개 스커트(YI1K2101) - 그린(GEN) / S,여성의류,여성의류하의,여성스커트
83,439375,여성 GUESS LOSANGELES 플라워 PVC 반팔(YI2K6425) - 라이트...,남성의류,남성의류상의,남성티셔츠
84,437353,리스판스반팔티 [CF2143] - CF2143(그레이) / M,스포츠패션,여성일반스포츠의류,여성스포츠티셔츠/탑
85,455494,에이드여름워싱이불Q - 퀸,침구/수예,성인침구,성인이불/이불커버
86,455491,엘바차렵이불S - 싱글,침구/수예,성인침구,성인이불/이불커버
87,454332,{16D2_18S0032}런닝 - 핑크/70,유아동의류,여아의류상의,여아티셔츠/탑
88,451908,고리버클 밴드 벨트(ANSSBT155_NS)R - Ivory / Free,패션잡화,여성지갑,여성일반지갑
89,450785,[NamuGRim/나무그림] 파타고니아 C18SNW3B266P3 - 아이보리1 / FF,여성의류,여성의류상의,여성티셔츠/탑
90,447372,스트라이프 프레이닝 팬츠[71TPT4811] - 네이비(N) / 145,유아동의류,남아의류하의,남아바지
91,447017,칼라 포켓 하프팬츠(KIDS) - 7B31781 - ORANGE(300) / 110,스포츠패션,유아동일반스포츠의류,유아동일반스포츠바지
92,445643,[CCUTTI] 브이넥 프릴블라우스(C81LBM078) - 핑크(PK) / FF(F...,여성의류,여성의류상의,여성베스트
93,443453,V넥 프릴 포인트 버튼 블라우스 (AJGWB001) - 블랙(BLACK) / F,여성의류,여성의류상의,여성남방셔츠
94,442458,네이비 다이노 브라운 패턴 키즈 백팩 - 네이비(7세),패션잡화,캐쥬얼가방,캐쥬얼백팩
95,442146,프릴블라우스(ENBA62467W) - 네이비66,여성의류,여성의류상의,여성남방셔츠
96,272178,[리바이스] W몰 여성 웨스턴 데님셔츠 D24996-0000 - 라이트블루 / S(...,남성의류,남성의류상의,남성남방셔츠
97,271781,[하프클럽/니나스파리]4cm 러브이니셜 그래픽 슬리퍼(8J192) - Black/230,패션잡화,여성화,여성펌프스
98,270635,[하프클럽/폴앤폴]레빗 오버핏 맨투맨 (남여공용) ACTU-6479 - 블랙/XXL,남성의류,남성의류상의,남성티셔츠
99,270447,[하프클럽/잠뱅이]남성 기획 기본 워싱 데님 JI9DIG02-MB - 미디엄블루/29,남성의류,남성의류하의,남성청바지