In [1]:
import pandas as pd
import numpy as np


product = pd.read_csv('F:\제5회 Big Data Competition-Digital Trend Analyzer\제5회 Big Data Competition-분석용데이터-01.Pruduct.csv', engine='python')

In [33]:
product.shape

(1048575, 8)

In [34]:
product.head()

,CLNT_ID,SESS_ID,HITS_SEQ,PD_C,PD_ADD_NM,PD_BRA_NM,PD_BUY_AM,PD_BUY_CT
0,25,7605037,12,642112,색상:워터멜론,[바비브라운],39000,1
1,25,10189797,13,570603,색상:BLK0_(BLK0)BLACK|사이즈:120 / 2개,데상트,39000,2
2,33,6158159,85,179538,na,[아베다],39000,1
3,56,7935714,12,554336,색상:블랙|사이즈:160cm(12~13세) / 1개,아디다스 키즈,39000,1
4,56,6406509,78,190306,5개,데코르테,39000,5

In [35]:
for col in product.columns:
    print('{}\n'.format(product[col].head()))

0    25
1    25
2    33
3    56
4    56
Name: CLNT_ID, dtype: int64

0     7605037
1    10189797
2     6158159
3     7935714
4     6406509
Name: SESS_ID, dtype: int64

0    12
1    13
2    85
3    12
4    78
Name: HITS_SEQ, dtype: int64

0    642112
1    570603
2    179538
3    554336
4    190306
Name: PD_C, dtype: int64

0                             색상:워터멜론
1    색상:BLK0_(BLK0)BLACK|사이즈:120 / 2개
2                                  na
3        색상:블랙|사이즈:160cm(12~13세) / 1개
4                                  5개
Name: PD_ADD_NM, dtype: object

0    [바비브라운]
1        데상트
2      [아베다]
3    아디다스 키즈
4       데코르테
Name: PD_BRA_NM, dtype: object

0    39000
1    39000
2    39000
3    39000
4    39000
Name: PD_BUY_AM, dtype: int64

0    1
1    2
2    1
3    1
4    5
Name: PD_BUY_CT, dtype: object

In [48]:
product.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 8 columns):
CLNT_ID      1048575 non-null int64
SESS_ID      1048575 non-null int64
HITS_SEQ     1048575 non-null int64
PD_C         1048575 non-null int64
PD_ADD_NM    1048575 non-null object
PD_BRA_NM    1048575 non-null object
PD_BUY_AM    1048575 non-null int64
PD_BUY_CT    1048575 non-null object
dtypes: int64(5), object(3)
memory usage: 64.0+ MB

In [46]:
num_cols = [col for col in product.columns[:8] if product[col].dtype in ['int64']]
product[num_cols].describe()

            CLNT_ID       SESS_ID      HITS_SEQ          PD_C     PD_BUY_AM
count  1.048575e+06  1.048575e+06  1.048575e+06  1.048575e+06  1.048575e+06
mean   3.323788e+06  5.828583e+06  7.951616e+01  4.880524e+05  2.461274e+04
std    1.917231e+06  3.071102e+06  8.425340e+01  2.492734e+05  2.076015e+04
min    2.500000e+01  2.600000e+01  1.000000e+00  4.000000e+00  1.000000e+01
25%    1.656017e+06  3.242700e+06  2.400000e+01  2.789090e+05  4.200000e+03
50%    3.337207e+06  6.019554e+06  4.900000e+01  5.137340e+05  7.000000e+03
75%    4.994410e+06  8.428752e+06  1.020000e+02  7.188360e+05  4.500000e+04
max    6.592554e+06  1.097790e+07  5.000000e+02  8.476520e+05  5.530000e+04

In [45]:
cat_cols = [col for col in product.columns[:8] if product[col].dtype in ['object']]
product[cat_cols].describe()

       PD_ADD_NM PD_BRA_NM PD_BUY_CT
count    1048575   1048575   1048575
unique    207202     12220       250
top           1개      입생로랑         1
freq      137220     18686    896746

In [2]:
product[['PD_BUY_CT']] = product[['PD_BUY_CT']].astype(float)

In [3]:
product.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 8 columns):
CLNT_ID      1048575 non-null int64
SESS_ID      1048575 non-null int64
HITS_SEQ     1048575 non-null int64
PD_C         1048575 non-null int64
PD_ADD_NM    1048575 non-null object
PD_BRA_NM    1048575 non-null object
PD_BUY_AM    1048575 non-null int64
PD_BUY_CT    1048575 non-null float64
dtypes: float64(1), int64(5), object(2)
memory usage: 64.0+ MB

In [5]:
product[['PD_BUY_CT']] = product[['PD_BUY_CT']].astype('int64')

In [6]:
product.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 8 columns):
CLNT_ID      1048575 non-null int64
SESS_ID      1048575 non-null int64
HITS_SEQ     1048575 non-null int64
PD_C         1048575 non-null int64
PD_ADD_NM    1048575 non-null object
PD_BRA_NM    1048575 non-null object
PD_BUY_AM    1048575 non-null int64
PD_BUY_CT    1048575 non-null int64
dtypes: int64(6), object(2)
memory usage: 64.0+ MB